<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Crunchynodes is a Web Hosting Business, we offer many Web Services">
    <meta name="keywords" content="Crunchynodes, web hosting, web development, web apps, web services, seo, marketing">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/c8a650fdd6.js" crossorigin="anonymous"></script>
    <title><?php echo $host; ?> | Domain Parked by Crunchynodes Web Hosting and Services.</title>
</head>
<body>
    <!-- Title  -->
    <div class="main-domain">
        <h1>Welcome to <span><?php echo $host; ?></span></h1>
    </div>
    <!-- Parking Notice -->
    <div class="owner">
        <h2>This domain has been parked by <a href="http://crunchynodes.com/" target="parent">crunchynodes.com</a> for free.</h2>
    </div>
    <!-- renew notice  -->
    <div class="notice">
        <p>If you own this domain, please <a href="http://crunchynodes.com/" target="parent"><button>add or renew your hosting plan</button></a>.</p>
    </div>
    <!-- social icons  -->
    <div class="social">
        <p>Connect with us on: </p> 
        <div class="icons">

            <!-- FACEBOOK  -->
            <a href="https://www.facebook.com/crunchynodes" target="parent">
                <i class="fab fa-facebook"></i>
            </a>

            <!-- MESSENGER  -->
            <a href="https://m.me/crunchynodes" target="parent">
                <i class="fab fa-facebook-messenger"></i>
            </a>  

            <!-- INSTA  -->
            <a href="https://www.instagram.com/crunchynodes_/" target="parent">
                <i class="fab fa-instagram"></i> 
            </a>  

            <!-- WHATSAPP  -->
            <a href="http://wa.me/912563297863" target="parent">
                <i class="fab fa-whatsapp"></i>
            </a>  

            <!-- TELEPHONE  -->
            <a href="tel:+912563297863">
                <i class="fas fa-phone-volume"></i>
            </a> 

            <!-- EMAIL  -->
            <a href="mailto:shriraj2k1o@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
    
    <!-- Sponsored stuff -->
    <div class="sponsor">
        <p>Check out the awesome content on <a href="https://simplyjunkii.com" target="parent">Simple Junkii</a></p>
        <iframe src="https://simplyjunkii.com" frameborder="0"></iframe>
    </div>

</body>
</html>